body{
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6, p, li, a{
    margin: 0px;
    font-family: "Alliance No.1",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.flex{
    display: flex;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul, ol {
  margin-bottom: 0;
  list-style: none;
  padding: 0px;
}
a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

/* ************* NAVIGATION ************* */
.navigation{
    
}
.navigation-container{
    width: 100%;
    height: 70px;
    display: flex;
    color: #fff;
    padding: 0px 20px;
    align-items: center;
    background-color: #333;
    justify-content: space-between;
}
.left-nav-link ul li, .right-nav-link ul li{
    margin: 0px 7px;
    display: inline-block;
}
.left-nav-link ul li a, .right-nav-link ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.left-nav-link ul li a:hover, .right-nav-link ul li a:hover{
    color: #FCD535;
}
.right-navigation .right-bars{
    display: none;
    font-size: 25px;
}  
.right-navigation .right-bars a{
    color: #fff;
    cursor: pointer;
}
.left-navigation{
    display: flex;
}
.left-navigation .nav-logo h4{
    font-size: 19px;
    color: #FCD535;
}
@media only screen and (max-width: 992px){
    .right-nav-link{
        display: none;
    }
    .right-navigation .right-bars{
        display: inline-block;
    }
}
@media only screen and (max-width: 567px){
    .left-nav-link{
        display: none;
    }
}

/* ********* DROP DOWN *********** */
.drop-down{
    /* z-index: 10; */
    position: relative;
}
ul.ul-drop-down{
    top: 40px;
    right: 0px;
    z-index: 10;
    width: 220px;
    margin: 0px;
    display: none;
    text-align: left;
    position: absolute;
    padding: 10px 0px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(107, 107, 107, 0.582);
}
ul.ul-drop-down.drop-right{
    right: 0px;
}
ul.ul-drop-down.drop-left{
    left: 0px;
}
ul.ul-drop-down li{
    margin: 0px;
    width: 100%;
    display: block;
}
ul.ul-drop-down li.drop-li a{
    color: #555;
    display: block;
    padding: 7px 5px;
    font-size: 13px;
    border-radius: 0px;
    text-decoration: none;
    transition: all 0.2s ease;
}
ul.ul-drop-down li.drop-li a:hover{
    color:  #555;
    background-color: #442781;
    background-color: rgb(206, 206, 206);
}

/* ************ MOBILE SIDE NAVIGATION ************* */
.side-navigation-container{
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: 20;
    position: absolute;
}
.side-dark-theme{
    width: 100%;
    height: 100vh;
    z-index: 20;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.589);
}
.side-nav-content{
    color: #fff;
    z-index: 20;
    width: 300px;
    right: -500px;
    height: 100vh;
    position: fixed;
    transition: all 0.6s ease;
    background-color: #fff;
}
.side-nav-content.right{
    color: #fff;
    z-index: 20;
    width: 250px;
    left: auto;
    right: -500px;
    height: 100vh;
    position: fixed;
    transition: all 0.2s ease;
    background-color: #fff;
}
.side-nav-btn-container{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    align-items: center;
    background-color: #333;
    justify-content: space-between;
}
.side-nav-content button{
    border: none;
    color: #fff;
    background-color:  transparent;
}
.sm-nav-logo img{
    width: 50px;
    border-radius: 50%;
}
.sm-nav-logo h4{
    font-size: 18px;
    color: #FCD535;
}
.side-nav-content button:focus{
    border: none;
    outline: none;
}
.side-nav-inner-content{
    height: 80vh;
    overflow-y: auto;
}
.side-nav-inner-content::-webkit-scrollbar{
    width: 10px;
    border-radius: 5px;
    background-color: #ccc;
}
.side-nav-inner-content::-webkit-scrollbar-thumb{
    background-color: rgb(116, 116, 116);
    border-radius: 6px;
}
ul.ul-side-nav{
    /* padding: 30px 0px; */
}
ul.ul-side-nav li a{
    color: #555;
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    display: block;
    text-decoration: none;
}
ul.ul-side-nav li a i{
    font-size: 19px;
    margin-right: 5px;
}
ul.ul-side-nav li a:hover{
    background-color: rgb(246, 246, 246);
}
ul.ul-side-nav li a:hover i{
    color: #FCD535;
}
ul.ul-side-nav .register-btn{
    text-align: center;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
}
ul.ul-side-nav .login-btn{
    text-align: center;
}
ul.ul-side-nav .login-btn a:hover{
    background-color: transparent;
}
ul.ul-side-nav .register-btn a:hover{
    color: #555;
    background-color: #FCD535;
}
@media only screen and (max-width: 567px){
    .side-nav-content, .side-nav-content.right{
        width: 80%;
    }
    ul.ul-side-nav li a{
        font-weight: 300;
    }
}


/* *********** BANNER SECTION *********** */
.banner-container{
    width: 100%;
    display: flex;
    padding: 0px 50px;
    padding-bottom: 50px;
    align-items: center;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
}
.banner-left, .banner-right{
    width: 50%;
}
.banner-left h1{
    font-weight: bold;
    color: #fff;
    font-size: 56px !important;
}
.banner-left p{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
}
.banner-form form{
    width: 100%;
    display: flex;
}
.banner-form form .form-group{
    width: 100%;
}
.banner-form form input{
    width: 65%;
    padding: 10px;
    border: none;
    color: #555;
    border-radius: 5px;
}
.banner-form form input:focus, .banner-form form button:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.banner-form form button{
    width: 150px;
    color: #fff;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(34, 34, 34);
}
.banner-form form button:hover{
    background-color: rgb(48, 48, 48);
}
.banner-right{
    text-align: center;
}
.banner-right img{
    width: 70%;
}
@media only screen and (max-width: 1125px){
    .banner-left, .banner-right{
        width: 60%;
    }
    .banner-right{
        width: 40%;
    }
    .banner-form form input{
        width: 60%;
    }
    .banner-right img{
        width: 100%;
    }
}
@media only screen and (max-width: 992px){
    .banner-container{
        display: block;
        padding-top: 100px;
    }
    .banner-left, .banner-right{
        width: 100%;
    }
    .banner-right img{
        width: 400px;
    }
}
@media only screen and (max-width: 567px){
    .banner-container{
        padding: 100px 20px 0px 20px;
    }
    .banner-form form button, .banner-form form input{
        width: inherit;
        margin-bottom: 10px;
    }
    .banner-right img{
        width: 300px;
    }
    .banner-left p{
        font-weight: 500;
    }
}
@media only screen and (max-width: 398px){
    .banner-left h1{
        font-size: 35px !important;
    }
    .banner-left p{
        font-size: 15px;
    }
}


/* ************ CONTENT SECTION *********** */
.index-content-container{
    top: -40px;
    position: relative;
    padding: 50px;
    border-radius: 40px 40px 0px 0px;
    background-color: #fff;
}
.index-content-container a{
    text-decoration: none;
}
.inner-content-banner{
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
}
.inner-content-banner .title-header h3 span{
    color: green;
    font-size: 15px;
}
.inner-content-banner .title-header h3{
    font-size: 25px;
    font-size: 300;
    color: rgb(83, 83, 83);
}
.inner-content-banner h3.content-h3{
    color: #333;
    font-size: 21px;
    font-size: 300;
}
.inner-content-banner p{
    color:  rgb(243, 202, 36);
}
@media only screen and (max-width: 1125px){
    .index-content-container{
        top: -40px;
    }
}
@media only screen and (max-width: 992px){
    .index-content-container{
        top: -200px;
    }
}
@media only screen and (max-width: 767px){
    .inner-content-banner h3.content-h3{
        font-size: 17px;
    }
    .inner-content-banner .title-header h3{
        font-size: 15px;
    }
    .inner-content-banner p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 567px){
    .index-content-container{
        top: -100px;
        padding: 50px 0px;
        background-color: rgb(243, 243, 243);
    }
    .index-content-container .row.expand{
        max-width: 100%;
    }
}
/* ************** SECOND BANNER *********** */
.second-banner, .second-banner-2{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    position: relative;
}
.second-banner-2{
    padding-top: 100px;
}
.second-banner-left, .second-banner-right{
    width: 50%;
}
.second-banner-left{
    text-align: center;
}
.second-banner-left img{
    width: 60%;
}
.second-banner-right .title-header h3{
    font-size: 35px;
    font-weight: 600;
}
.second-banner-right .banner-body p{
    color: #555;
    font-size: 18px;
    margin-top: 15px;
}
.second-banner-right .banner-body a.trade-btn{
    color: #333;
    padding: 7px 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
}
.second-banner-right .banner-body a.trade-btn:hover{
    color: #333;
}
@media only screen and (max-width: 992px){
    .second-banner{
        top: -100px;
        width: 100%;
        padding: 0px 20px;
    }
    .second-banner-right .banner-body p{
        font-size: 15px;
    }
    .second-banner-left, .second-banner-right{
        width: 50%;
        padding: 0px 10px;
    }
    .second-banner-left img{
        width: 100%;
    }
    .second-banner-2{
        padding-top: 100px;
    }
}
@media only screen and (max-width: 767px){
    .second-banner, .second-banner-2{
        display: block;
    }
    .second-banner-left, .second-banner-right{
        width: 100%;
        margin-bottom: 50px;
    }
    .second-banner-left img{
        width: 100%;
    }
    .second-banner{
        top: -200px;
    }
    .second-banner-right{
        margin-top: 50px;
    }
}
@media only screen and (max-width: 567px){
    .second-banner-left img{
        width: 100%;
    }
    .second-banner-right .banner-body p{
        margin: 20px 0px;
    }
    .second-banner{
        top: -50px;
    }
    .second-banner-right .title-header h3{
        font-size: 29px;
    }
    .second-banner-right .banner-body a.trade-btn{
         padding: 10px 30px;
    }
}
@media only screen and (max-width: 398px){
    .second-banner{
        padding: 0px 10px;
    }
    .second-banner-right .title-header h3{
        font-size: 25px;
    }
}

/* ************* TESTIMONIAL SECTION********* */
.testimonial-container{
    padding: 0px 50px 100px 50px;
    background-color: rgb(243, 243, 243);
}
.testimonial-container .title-header h3{
    color: #555;
    padding: 50px 0px;
    font-size: 35px !important;
}
.testimonial-body{
    text-align: center;
    border-radius: 10px;
    padding: 40px 20px;
    margin-bottom: 50px;
    background-color: #fff;
    transition: all 0.3s ease;
    /* box-shadow: 0px 2px 7px 2px rgba(197, 196, 196, 0.589) */
}
.testimonial-body:hover{
    transform: scale(1.03);
    background-image: linear-gradient(rgb(253, 232, 148) 0%, rgb(255, 215, 86) 100%);
}
.testimonial-body .font{
    height: 0px;
}
.testimonial-body .font{
    top: -33px;
    right: -10px;
    height: 0px;
    text-align: right;
    position: relative
}
.testimonial-body .font i{
    font-size: 20px;
    color: rgb(243, 243, 243);
}
.testimonial-body:hover .font i{
    color: #fff;
}

.testimonial-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.testimonial-img img{
    width: 100%;
    border-radius: 50%;
}
.testimonial-star i{
    color:  rgb(243, 202, 36);
}
.testimonial-body:hover .testimonial-star i{
    color: #fff;
}
.testimonial-content ul li p{
    font-size: 15px;
    color: #555;
}
.testimonial-body:hover .testimonial-content ul li p{
    color: #fff;
}
.testimonial-content ul li h4{
    font-size: 17px;
    color: #333;
}
.testimonial-content ul li span{
    font-size: 13px;
    color: #555;
}
@media only screen and (max-width: 567px){
    .testimonial-body{
        padding: 40px 10px;
    }
    .testimonial-container{
        padding: 0px 20px 100px 20px;
    }
    .testimonial-body .font{
        right: 0px;
    }
    .testimonial-content ul li p{
        font-size: 13px;
    }
    .testimonial-container .title-header h3{
        text-align: center;
        font-size: 28px !important;
    }
}



/* ********* THIRD BANNERS ************** */
.third-banner{ 
    height: 50vh;
    width: 100%;
    display: table;
    text-align: center;
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color:  rgb(255, 215, 86);
}
.third-banner:before{
    background-color: rgba(0, 0, 0, 0.541);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.third-banner .action-btn{
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.third-banner .action-btn a{
    color: #333;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 0px 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 2px solid  rgb(240, 185, 11);
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
}
.third-banner .action-btn a:hover{
    color:  rgb(240, 185, 11);
    background-image: none;
}
.third-banner .action-btn a.sell-now-btn{
    color:  rgb(240, 185, 11);
    background-image: none;
    border: 2px solid  rgb(240, 185, 11)
}
.third-banner .action-btn a.sell-now-btn:hover{
    color:  #333;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
}

/* ********* FOOTER SECTION ************ */
.footer-container{
    padding: 10px 50px;
    background-color: black;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
}
.footer-bottom{
    text-align: center;
    padding: 20px;
    font-weight: 600;
    background-color: rgb(187, 143, 0);
}
.footer-img h3{
    font-size: 19px;
    color: rgb(187, 143, 0);
}
.footer-links, .footer-newsletter, .footer-img{
    height: 270px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(202, 155, 2) 100%);
}
.footer-img img{
    width: 150px;
}
.footer-container .title-header h3{
    color: #333;
    font-size: 25px;
    margin-bottom: 20px;
}
.footer-container .footer-newsletter p{
    color: #555;
    font-size: 13px;
}
.footer-newsletter form input{
    border: none;
    width: 100%;
    padding: 10px;
    color: #555;
    margin-bottom: 20px;
}
.footer-newsletter form input:focus, .footer-newsletter form button:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.footer-newsletter form button{
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 10px 30px;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(17, 13, 1) 100%);
}

.footer-links ul li a{
    display: block;
    padding: 5px 0px;
    font-weight: 500;
    text-decoration: none;
}
.footer-links ul li a i{
    margin-right: 10px;
}
.footer-links ul li a:hover{
    color: #333;
}
.inner-footer-img{
    text-align: center;
}
@media only screen and (max-width: 1125px){
    .footer-container{
        padding: 10px 20px;
    }
}
@media only screen and (max-width: 398px){
    .footer-bottom{
        font-size: 12px;
        padding: 20px 10px;
    }
    .footer-container .row.expand{
        padding: 0px;
        margin: 0px;
    }
}


